.balon1 {
    float: right;
    background: #35cce6;
    border-radius: 10px;
}

.balon2 {
    float: left;
    background: #f4f7f9;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.message {
    overflow: hidden;
}

.Avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}